@{
    ViewData["Title"] = "Home Page";
}
@using Humanizer
@model System.Collections.Generic.List<EspressoShop.Web.Models.ProductViewModel>


<main role="main">
    <div>
        <h2 class="display-4">This is the <b>8th</b> ADM UK Colloquium, current session is presenting by <b style="color:blue">Anup Singh(anup.singh@capgemini.com)</b></h2>
        <h1>Topics are :</h1>

        <ol>
            <li>Kubernetes</li>
            <li>Istio</li>
            <li>Dynamic Service Discovery</li>
            <li>Load Balancing</li>
            <li>Canary Deployment</li>
            <li>Kubernetes Dashboard</li>
        </ol>
    </div>
    <div class="jumbotron mt-4">
        <h1 class="display-4">Espresso Shop</h1>
        <h1 class="display-1">
            <b style="color:blue;font-size:2rem;">Please select your drink and enjoy the session. Thank you for your time</b>
        </h1>
    </div>

    <div>
        <div class="container">

            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="~/images/@(product.Name.ToLower()).jpg" height="225" alt="@product.Name"/>
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">@product.Description.Truncate(65)</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-primary" asp-route-id="@product.Id" asp-action="product" role="button">Learn More</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

</main>

